body {
    background-color: #1E1E1E;
    color: #fff;
    font-family: 'Fredoka';
    margin: 0%;
    text-align: center;
    text-shadow: 0 0 10px gray;
    font-weight: bold;
}

.navigation {
    background-image: -moz-linear-gradient(to bottom right, gray, lightgray);
    overflow: hidden;
    align-content: center;
}

.navigation a {
    color: #1E1E1E;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    cursor: default;
    user-select: none;
    text-shadow: 0 0 20px gray;
    outline: none;
}

.contact {
    color: lightblue;
}

.disclamer {
    color: gray;
    font-size: 8.5px;
    font-style: italic;
}