body {
    background-color: #1E1E1E;
    color: #fff;
    font-family: 'Fredoka';
    margin: 0%;
    text-align: center;
    text-shadow: 0 0 10px gray;
    font-weight: bold;
    
}

.navigation {
    padding: 7px;
    background-image: linear-gradient(to right, rgb(92, 92, 92), rgb(230, 230, 230));
    overflow: hidden;
    align-content: center;
}

.navigation a {
    color: #1E1E1E;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    text-shadow: 0 0 20px gray;
    outline: none;
}

.links {
    color: lightblue;
}

.disclamer {
    color: gray;
    font-size: 8.5px;
    font-style: italic;
}

h1, h2, h3, p {
    padding: 5px 15px;
}